<hr>
<% c.each do |comment| %>
  <p>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <% if current_user.id == comment.user_id %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-comment_<%="#{comment.id}"%>" href="">
      Update your comment
    </button>
    <%= render 'comments/edit_comment_modal', comment: comment, blog: b %>
    <button type="button" class="btn btn-warning">
      <%= link_to 'Destroy', blog_comment_path(b, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    </button>
  <% end %>
  <hr>
<% end %>
