<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <% f.label :body %>
    <%= f.text_area :body, id: "wysiwyg" %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

  <input type="submit" class="btn btn-primary" id="saveButton" value="Save">
<% end %>
