<div class="container">
  <div class="row">
    <div class="blog-heading">
      <h1><%= b.title.titleize %></h1><br>
      <h4>By <%= b.user.name %></h4>
      <p><%= b.created_at.strftime("%e %b %Y") %><br></p>
    </div>
    <hr>
    <div class="col-md-10 blogShort">
      <article><p>
        <div class="fr-view">
          <%= raw b.body %>
        </div>
      </p></article>
    </div>
    <p>
      <%= b.comments.count %> Comments&nbsp; |
      <% if current_user.id == @blog.user_id %>
        <%= link_to 'Edit', edit_blog_path(b) %>
      <% end %>
    </p>
  </div>
</div>
