<p id="notice"><%= notice %></p>
<button type="button" class="btn btn-info">
  <%= link_to 'New Blog', new_blog_path %>
</button>
<hr>
<div class="wrapper" style="background: #efeff3;">
  <% @blogs.each do |blog| %>
    <div class="top"><div class="title"><h1> My Blog</h1></div></div>
    <div class="content">
      <div class="card first">
        <h2>
          <%= link_to blog.title, blog %>
        </h2>
        <p class="date"><%= blog.created_at.strftime("%e %b, %Y") %></p>
        <p class="text">
          <div class="fr-view">
            <%= raw blog.body %>
          </div>
        <br />
        </p>
        <p class="date">By <%= blog.user.name %></p>
        <p class="date"><%= blog.comments.count %> Comments</p>
        <%= link_to 'Show', blog_path(blog) %> |
        <% if current_user.id == blog.user.id %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
