<p id="notice"><%= notice %></p>
<%= render 'blogs/show_blog', b: @blog %>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-new-comment">
  Leave a comment
</button>
<%= render 'comments/new_comment_modal' %>
<p>
<%= render 'blogs/blog_comment', c: @blog.comments.order(updated_at: :desc), b: @blog %>
</p>
<p>
  <%= link_to 'Back', blogs_path %>
</p>
