<!-- Modal -->
<div class="modal fade" id="add-new-comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for [@blog, Comment.new] do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Leave a Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>

          <div class="field">
            <%= f.label :body %>
            <%= f.text_area :body %>
          </div>

          <div class="field">
            <%= f.hidden_field :blog_id %>
          </div>

          <div class="field">
            <%= f.hidden_field :user_id %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add Comment">
        </div>
      <% end %>
    </div>
  </div>
</div>
