<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="header-log">
      <% if current_user.present? %>
        <%= current_user.name %><br>
        <button type="button" class="btn btn-warning navbar-btn">
          <%= link_to "Logout",  destroy_user_session_path, method: :delete if user_signed_in? %><br>
        </button>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
